@{
    ViewData["Title"] = "Gracias";
}
<link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/agradecer.css" asp-append-version="true">

<div class="centered-content">
    <h2 class="enlarge-text">¡Gracias por contactarte!</h2>
    <br>
    <a href='@Url.Action("Index","Home")' class="btn btn-primary btn-contact btn-lg enlarge-text">Volver a la página principal</a>
</div>

<script type="text/javascript" src="/js/confetti-index.js"></script>