<!doctype html>
<html lang="en">
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TP_CreandoLuz_PF</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true">
</head>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <br>
      <h2>¡Empezá a donar acá!</h2>
      <p class="lead">Si queres donarnos para apoyar a la causa, podes en el siguiente formulario.</p>
    </div>

     <div>
     <a href="https://www.mercadopago.com.ar/"><img src="https://laverdadnoticias.com/__export/1598189633680/sites/laverdad/img/2020/08/23/mercadopago.jpg_673822677.jpg" alt="Mercado Pago"></a>
     </div>     

</div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
</html>